body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

.nav {
  position: absolute;
  width: 100%;
  height: 75px;
  background-color: rgb(9, 0, 61);
  z-index: 1;
}

.list1 {
  float: left;
}

.listItem1 {
  display: inline;
  color: white;
  font-size: 2em;
  padding: 0 15px 0 15px;
  transition-duration: 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

.listItem1:hover {
  color: black;
  background-color: white;
}

.gameDiv {
  position: absolute;
  top: 75px;
  width: 100%;
  height: 925px;
  margin: 0;
}

.boardDiv {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 800px;
  height: 800px;
  background-color: rgb(9, 0, 61);
  margin: 0;
  border-radius: 10px;
  cursor: crosshair;
}

.circle {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: white;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  transition-duration: 0.2s;
  display: none;
}

.cover {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 800px;
  height: 800px;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.statsDiv {
  position: absolute;
  top: 140px;
  left: 25px;
  width: 300px;
  height: 800px;
  background-color: rgba(9, 0, 61, 0.438);
  border-radius: 15px;
  margin: 0;
}

.statsP {
  font-size: 2.25em;
  color: black;
}

.startButton {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border-style: none;
  font-size: 1.5em;
  transition-duration: 0.075s;
}

.startButton:hover {
  transform: translateX(-50%) translateY(-50%) scale(1.1, 1.1);
}

.gamemodeDiv {
  position: relative;
  float: right;
  right: 25px;
  top: 140px;
  width: 350px;
  height: 800px;
}

.gamemodeP {
  width: 75px;
  margin: 0;
  padding: 0s;
  float: left;
}

.selectBox {
  float: left;
  margin: 0 5px 0 0;
}

.selectButton {
  float: left;
  margin: 0;
}
